<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Language School | Add Student</title>
  <link rel="stylesheet" th:href="@{/css/studentStyles.css}"/>
</head>
<body>

<div class="head">
  <h1>Language School</h1>
  <h2>Add student to Group</h2>
</div>

<div class="tables-wrapper">
  <div class="table-section">
    <table id="groupStudentsTable">
      <thead>
      <tr>
        <th th:text="${group.groupCode}"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="student : ${studentsInGroup}">
        <td th:text="${student.name} + ' ' + ${student.surname}"><span th:text="${group.groupCode}"></span></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="content-container">
    <table id="selectionTable">
      <thead>
      <tr>
        <th>Available Students</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="student : ${allStudents}"
          th:data-student-id="${student.id}">
        <td class="table-row">
          <span th:text="${student.name} + ' ' + ${student.surname}"></span>
          <span th:text="${student.city}"></span>
        </td>
      </tr>
      </tbody>
    </table>

    <button id="studentAddButton" class="add-btn">Add</button>
    <input type="hidden" id="groupId" th:value="${group.id}" />
  </div>
</div>

<script th:src="@{/js/tableSelection.js}"></script>
<script th:src="@{/js/addButton.js}"></script>
</body>
</html>
